<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  
    <title>Libros</title>
</head>
<body>
    <header>
        <!-- incluir header -->
    </header>
    <main>
       <div class="container">
           <div class="row">
               <section class="col-12">
                    <ul class="route">
                        <li><a href="/">Home</a></li>
                        <li><a href="/books">Libros</a></li>
                    </ul>
               </section>
               <section class=" col-12">
                   <ul class="categories">
                       <li><a href="/books/arte">Arte</a></li>
                       <li><a href="/books/cronicas">Crónica</a></li>
                       <li><a href="/books/ensayo">Ensayo</a></li>
                       <li><a href="/books/infantilYJuvenil">Infantil y juvenil</a></li>
                       <li><a href="/books/narrativa">Narrativa</a></li>
                       <li><a href="/books/comics">Novelas gráficas y comics</a></li>
                       <li><a href="/books/poesia">Poesía</a></li>
                   </ul>
               </section>
                <% books.forEach(book => { %>
                    <div class="col-12 col-sm-6 col-lg-3">
                    <section class="book-container">
                        <div class="image-container">
                            <a href="/book.id">
                                <img src="<%= book.image %>" alt="book photo"> 
                            </a>
                        </div>
                        <h2><a href="/book.id"><%= book.title %></a></h2>
                        <p>$<%= book.price %></p>
                    </section>
                    </div>                 
                <% }) %>
           </div>
       </div>
    </main>
</body>

</html>