<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/stylesheets/bootstrap-grid.min.css">
    <title>Document</title>
</head>
<body>
    <header> 
        <!-- traer header de partials -->
    </header>
    <main>
        <div></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-4">
                    <ul class="ruta">
                        <li><a href="/">Home</a></li>
                        <li><a href="#"></a>Categorías</li>
                        <li><a href="#">Novelas gráficas y comics</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul class="subCategorias">
                        <li><a href="#">Comics</a></li>
                        <li><a href="#">Historietas</a></li>
                        <li><a href="#">No ficción</a></li>
                        <li><a href="#">Novelas gráficas</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-2">
                    <section class="product-container">
                        <img src="#" alt="book photo">
                        <h3>NOMBRE DEL LIBRO</h3>
                        <p>Precio del libro</p>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- Requerir footer -->
    </footer>
</body>
</html>