<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/public/stylesheets/bootstrap-grid.min.css"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <header> 
        <!-- traer header de partials -->
    </header>
    <main>
        <div></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-4">
                    <ul class="ruta">
                        <li><a href="/">Home</a></li>
                        <li><a href="/books">Libros</a></li>
                        <li><a href="#"><%= books.category %></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6">
                    <ul class="subCategorias">
                        <li><a href="#">Comics</a></li>
                        <li><a href="#">Historietas</a></li>
                        <li><a href="#">No ficción</a></li>
                        <li><a href="#">Novelas gráficas</a></li>
                    </ul>
                </div>
                <% books.forEach(book => { %>
                    <div class="col-sm-6 col-md-2">
                        <section class="product-container">
                            <img src="<%= book.image %> " alt="book photo">
                            <h3><%= book.title %></h3>
                            <p>$<%= book.price %></p>
                        </section>
                    </div>
                <% }) %> 
            </div>
        </div>
    </main>
    <footer>
        <!-- Requerir footer -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>