<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <link rel="stylesheet" href="../../public/stylesheets/newStyles.css">
    <title>Detail product</title>
</head>
<body>
    <header>
        <!-- importar header -->
    </header>
    <main>
        <!-- camino de migas -->
        <div class = "container">
            <div class= "row">  
                <figure class="col-12 col-md-6">
                    <img src="../../public/images/kentukis.png" alt="">
                </figure>
                <div class="col-12 col-md-6">
                    <div class="book-info">
                        <h1>Kentukis</h1>
                        <p>Autor: Samanta schwelbin</p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="book-price">
                        <h3>Tapa blanda</h3>
                        <p>AR$ 614,00</p>
                    </div>
                    <div class="book-buy">
                        <label for="quantity">Cantidad</label>
                        <input type="number" name="quantity" value="1" min="1"> 
                        <button type="submit">Agregar al carrito</button>
                    </div>
                </div>
                <div id="book-info" class="col-12">
                    <div class="book-info-section">
                        <span>Descripción</span>
                    </div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste rerum reprehenderit rem excepturi quidem et. Aspernatur repellat voluptatem illo ipsa quisquam quod fugit laboriosam? Consectetur illo repellat deleniti facilis ad, perspiciatis consequatur facere officia sequi. Velit aperiam vitae ipsam vero odio obcaecati quisquam explicabo, alias placeat adipisci officiis, fugit laboriosam quasi optio possimus repellat! Dolorem, quidem! Quam id fuga itaque voluptatibus quisquam cumque deserunt maxime velit quo nam quia corporis, atque fugit neque saepe laboriosam impedit sint. Tenetur, culpa sed!</p>
                </div>
                <div class="col-12">
                    <div class="book-info-section">
                        <span>Detalle del producto</span>
                    </div> 
                    <table>
                        <tr>
                            <th>Editorial:</th>
                            <td>Penguin Random House</td>
                        </tr>
                        <tr>
                            <th>Fecha de publicación:</th>
                            <td>28-08-19</td>
                        </tr>
                        <tr>
                            <th>Páginas:</th>
                            <td>295</td>
                        </tr>
                        <tr>
                            <th>ISBN:</th>
                            <td>91582357852</td>
                        </tr>
                    </table> 
                </div>
                <div class="col-12">
                    <div class="book-info-section">
                        <span>Categorías recomendadas para vos</span>
                    </div>
                </div>
        </div>
    </main>
</body>
</html>