<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<body>
    <!-- Header -->

    <!-- /Header -->

    <div class="container products-wrapper">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 class="products-title">Registro</h2>
            </div>
            <div class="col-6">
                <% if (typeof errors != "undefined") { %>
                    <p>ERROR</p>
                    <% for( let i = 0; i < errors.length; i++ ) { %>
                        <li>
                            <%= errors[i].msg %> 
                        </li> 
                    <% } %>  
                <% } %>
                
                <form action="/register" method="POST">
                    <div class="row product-detail">
                        <div class="col-12">
                            <label for="username" class="form-label">Username: *</label>
                            <input type="text" id="username" name="username" placeholder="user name"
                                class="form-input" value="">
                            <p class="error">
                            </p>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email: *</label>
                            <input type="text" id="email" name="email" placeholder="Ej: gonza@dh.com" class="form-input" value="">
                            <p class="error">
                                <% if (typeof errors != 'undefined' ) { %>
                                    <% if (errors.email) { %>
                                        <%= errors.email.msg %>
                                     <% } %>
                                <% } %>
                                <!-- si la variable errors está, 
                                revisar si hay error del campo : imprimimos el error de email /Sino imprimimos el dato vacío. -->
                            </p>
                        </div>
                        <div class="col-12">
                            <label for="password" class="form-label">Contraseña: *</label>
                            <input type="password" id="password" name="password" class="form-input" value="">
                            <p class="error">
                                <% if (typeof errors != 'undefined' ) { %>
                                    <%= errors.password ? errors.password.msg : ''%>
                                <% } %>
                            </p>
                        </div>
                        <div class="col-12">
                            <label for="retype" class="form-label">Repite la contraseña: *</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-input" value="">
                            <p class="error">
                            </p>
                        </div>
                        
                        <div class="mt-5 col-12">
                            <button type="submit" class="buy-now-button">Regsitrate</button>
                        </div>
                        <div class="mt-3 col-12">
                            <p>(*) Campos obligatorios.</p>
                        </div>
                    </div>
                </form>
                
                <div class="g-signin2 mt-5" data-onsuccess="onSignIn"></div>
            </div>
        </div>

    </div>
    <!-- /todos los productos -->

    <!-- footer -->

    <!-- /footer -->
</body>

</html>