<html>
      <%- include('partials/head', {title: 'Mi Perfil'}) %>
  <body>
   
      <%- include('partials/header') %>

      <div class="container">
        <div id="flex" class="row space">
            <div class="col-12 col-md-4 col-lg-2 profile-confg">
              <div >

                  <div class="profilediv">
                    <img class="imgg" src="https://fotomanias.com.ar/wp-content/uploads/2019/03/foto-carnet-fondo-celeste.jpg">
                  </div>
                  <div class="imgdiv">
                    <button class="w3-button w3-large w3-circle buttcf">+</button>
                  </div>
                  <div class="menu-profile margin">
                    <a class="a-profile" href="/books/create">Cargar Producto</a>
                  </div>
                  <div class="menu-profile js-a">
                    <a class="a-profile ">Configuración</a>
                  </div>
                  <div class="menu-profile">
                    <a class="a-profile" href="#">Compras</a>
                  </div>
                  <div class="menu-profile">
                    <a class="a-profile" href="#">Favoritos</a>
                  </div>
                
              </div>
                  
              </div>

             <div class="col-12 col-md-5 col-lg-7 user-info">
                 <a class="a-profile marginpf">Usuario</a>
                   <div class="user-div">
                         <div class="user-img">
                           <i class="fas fa-user"></i>
                         </div>
                         <div class="user-menu">
                            Nombre del Usuario
                         </div>
                    </div>
                <a class="a-profile marginpf1">Email</a>
                   <div class="user-div">
                        <div class="user-img">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="user-menu">
                            Emaildelusuario@hotmail.com
                        </div>
                  </div>
               <a class="a-profile marginpf1">Contraseña</a>
                   <div class="user-div">
                        <div class="user-img">
                           <i class="fas fa-key"></i>
                        </div>
                        <div class="user-menu">
                           ****************
                        </div>
                   </div>
            </div>
        </div>
    </div>
         
       <%- include('partials/footer') %>

       <script src="/js/profile-menu.js"></script>
   </body>

</html>