/* Generic styling */
* {
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

.a-header {
	color: #333d39;
	text-transform: capitalize;
}

.a-header:hover {
	color: #343a38;
	text-decoration: underline;
}

.logout {
	border: none;
	color: #333d39;
	background-color: inherit;
	font-size: 16px;
	padding-right: 13px;
	padding-left: 15px;
}
.logout:hover {
	color: #343a38;
	background-color: inherit;
	text-decoration: underline;
}

.logout-mobile {
	border: none;
	color: rgb(109, 108, 108);
	background-color: inherit;
	font-size: 14px;
	padding-right: 13px;
	padding-left: 15px;
}
.logout-mobile:hover {
	color: rgb(109, 108, 108);
	background-color: inherit;
	text-decoration: underline;
}

.logout-btn{
	padding-right: 10px;
}
/*Header main */

.navigation-list-inline {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation__item {
	margin: 1px;
}

#logoh img {
	width: 100%;
	margin-left: 22px;
	margin-top: 12px;
}

.shop-menu {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	text-align: right;
	/* padding: 9px; */
	padding-top: 20px;
    /* float: right; */
    margin-right: 11px;
    width: 60%;
}
.logoheader{
    width: 40%;
}
.header-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 14px;
}

.navvbar {
	display: none;
}

.mobile-hide {
	display: none;
}

.btn-toggle-navbar {
	outline: none;
}

.fa-shopping-cart {
	margin-left: 10px;
}

#shopping-cart {
	font-size: 20px;
}

#search {
	font-size: 18px;
}

.navbar-toggler {
	display: inline-block;
}

.collapse {
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.hav {
	text-align: right;
	height: 70px;
	line-height: 70px;
	z-index: 2;
	float: right;
}

.menu a {
	clear: right;
	text-decoration: none;
	color: rgb(109, 108, 108);
	margin: 0 10px;
	line-height: 50px;
}

label#togglex {
	margin: 0 21px 0 0;
	font-size: 26px;
	line-height: 25px;
	display: none;
	width: 35px;
	float: right;
}

#toggle {
	display: none;
}

label#togglex {
	display: block;
	cursor: pointer;
}

.menu {
	text-align: center;
	width: 100%;
	display: none;
	background-color: white;
}

.menu a {
	display: block;
	border-bottom: 1px solid #eaeaeb;
	margin-left: 0px;
}

#toggle:checked + .menu {
	display: block;
}

/* SEARCH ICON BAR STYLES */


  #searchIcon {
    font-size: 1.4em;
    top: 0px;
  }
  #searchIcon.hide{
    display:none;
  }
  #search {
    color: rgb(46, 46, 46);
    background-color: rgb(239, 237, 243);
    border: solid 1px rgb(214, 209, 209);
    border-radius: 9px;
    width: 0%;
    font-size: 2.2em;
    margin-left: 2.5%;
    outline: none;
    cursor: text;
    visibility: hidden;
    transition: 0.7s;
    
    margin-right: 14px; 
  }
  #search.visible{
    width:27%;
    height: 43%;
    visibility: visible;
    font-size:16px;
    text-indent: 14px;
  }
 
/* Sticks footer to bottom */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.container {
	flex: 1;
}
/* Footer main */

footer {
	/* display:flex;
  justify-content: center; */
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	line-height: 1.5;
	border-top: 0.5px rgb(167, 164, 164) solid;
}

footer a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

.ft-main {
	/* padding: 20px 19px; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

html {
	font-family: "helvetica neue", sans-serif;
}

h2.ft-title {
	color: rgb(36, 36, 36);
	font-family: "Merriweather", serif;
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 2px;
}

h2.ft-title2 {
	color: rgb(36, 36, 36);
	font-family: "Merriweather", serif;
	font-weight: bold;
	font-size: 22px;
	padding-bottom: 2px;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* padding: 5px 30px; */
	font-size: 30px;
}

.iconsft {
	width: 27px;
	margin-right: 13px;
	padding-bottom: 20px;
	border-radius: 10%;
}

.ft-main-item {
	padding: 10px 0;
	min-width: 200px;
	flex-direction: row;
	flex-wrap: wrap;
}

.ft-main-item2 {
	padding: 8px 0;
	min-width: 200px;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Newsletter form */

#formfooter {
	display: flex;
	flex-wrap: wrap;
}
input[type="email"] {
	border: 0;
	padding: 10px;
	margin-top: 1px;
}
input[type="submit"] {
	background-color: #404d48;
	color: #fff;
	cursor: pointer;
	border: 0;
	padding: 10px;
}

.newsletter-back {
	background-color: #f8f7bf;
	width: 100%;
}

@media (min-width: 768px) {
	.ft-main {
		justify-content: space-evenly;
	}

	.header-container {
		display: flex;
		justify-content: space-between;
		width: 99%;
		padding-bottom: 14px;
	}

	.navvbar {
		display: flex;
		justify-content: center;
		color: rgb(0, 0, 0);
		background-color: rgba(238, 237, 237, 0.902);
		border: 1px solid rgb(204, 202, 202);
		font-size: 17px;
	}

	.navvbar ul li {
		margin-right: 20px;
	}

	.mobile-hide {
		display: inline;
		margin-left: 10px;
		margin-right: 8px;
	}

	.hav {
		display: none;
	}

	#logoh img {
		width: 60%;
		margin-left: 69px;
	}

	.shop-menu a {
		font-size: 15px;
    }
    .shop-menu {
		justify-content: flex-end;
		
	}
}
@media (min-width: 992px) {
	.ft-main {
		justify-content: space-evenly;
    }
    

	.header-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-bottom: 14px;
	}

	.navvbar {
		display: flex;
		justify-content: center;
		color: rgb(0, 0, 0);
		background-color: rgba(238, 237, 237, 0.902);
		border: 1px solid rgb(204, 202, 202);
		font-size: 17px;
	}

	.navvbar ul li {
		margin-right: 20px;
	}

	.mobile-hide {
		display: inline;
		margin-left: 10px;
	}

	.hav {
		display: none;
	}

	.fa-shopping-cart {
		margin-left: 80px;
	}

	.shop-menu {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		width: 46%;
		padding-top: 20px;
		padding-right: 45px;
	}

	.shop-menu a {
		font-size: 16px;
	}

	.fa-shopping-cart {
		margin-left: 10px;
	}

	#logoh img {
		width: 35%;
		margin-left: 120px;
	}
}
