/* Profile styling */
.imgg {
	border-radius: 200px;
	width: 230px;
}

.a-profile {
	color: #7d8180;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 535;
}

.a-profile:hover {
	color: #4fa7e2;
	text-decoration: underline;
}

.menu-profile {
	padding: 13%;
	background-color: rgb(238, 238, 238);
	margin-bottom: 1px;
	text-align: center;
}

.margin {
	margin-top: 100px;
}

.menu-profile:hover {
	background-color: inherit;
}

.menu-profile a:hover {
	background-color: inherit;
	text-decoration: none;
}

.profile-confg {
	padding-bottom: 100px;
}

.profilediv {
	display: flex;
	justify-content: center;
}

.buttcf {
	display: flex;
	background-color: #e3e6e6;
	z-index: 1;
}

.user-info {
	background-color: rgb(238, 238, 238);

	border: 1px solid #b9b9b9;
	border-radius: 10px;
}
.user-info {
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: 1px solid #cccbcb;
	border-radius: 7px;
	margin-bottom: 100px;
}
.user-info-config {
	background-color: rgb(238, 238, 238);

	border: 1px solid #b9b9b9;
	border-radius: 10px;
}
.user-info-config {
	background-color: rgb(238, 238, 238);

	border: 1px solid #b9b9b9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: 1px solid #cccbcb;
	border-radius: 7px;
	margin-bottom: 100px;
}
.user-menu {
	padding: 1%;
	background-color: #e5e2e2;
	margin-bottom: 1px;
	width: 80%;
	margin-bottom: 28px;
	margin-top: 5px;
	border-radius: 4px;
}
.user-div {
	display: flex;
}


.marginpf {
	margin-top: 40px;
	margin-left: 20px;
}

.marginpf1 {
	margin-left: 20px;
}
/* Profile styling */

.space {
	padding: 30px 0;
}

.login input[type=email],
.login input[type=password],
.register input {
	display: block;
	width: 100%;
	height: 6vh;
	border: 1px solid #b9b9b9;
	text-indent: 10px;
	margin-bottom: 15px;
	padding: 0px;
}

.login input[type=checkbox] {
	transform: scale(1.3);
	margin-right: 10px;
	border: 1px solid #b9b9b9;
}

.login input[type=checkbox] {
	margin-top: 10px;
}

.login label {
	font-size: 14px;
}

.login button,
.register button {
	width: 100%;
	padding: 0px 5px;
	background-color: #1bafc7;
	color: white;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	font-weight: 500;
	min-height: 44px;
	margin-top: 20px;
	margin-bottom: 30px;
	display: inline-block;
}
.login button:hover,
.register button:hover {
	background-color: #1bb0c7da;
}

.avatar-label {
	font-weight: 400;
	margin-bottom: 10px;
}

.register input[type=file] {
	border: none;
	text-indent: 0px;
	/* margin-top: 15px; */
}

.register p {
	font-size: 14px;
}

@media (min-width: 768px) {
	.space {
		margin: 37px 0px;
	}
	#flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.form-left {
		margin-right: 30px;
	}
	.form-right {
		margin-left: 30px;
	}
	.menu-profile {
		text-align: unset;
	}
	.user-info {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
	}
	.user-info-config {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
	}
	.user-menu {
		padding: 1%;
		background-color: #e5e2e2;
		margin-bottom: 1px;
		width: 80%;
		margin-bottom: 28px;
		margin-top: 5px;
		border-radius: 4px;
	}
	.user-div {
		display: flex;
	}
	.marginpf {
		margin-top: 40px;
		margin-left: 10px;
	}

	.marginpf1 {
		margin-left: 10px;
	}
}

@media (min-width: 992px) {
	#flex {
		display: flex;
		flex-wrap: nowrap;
	}
	.login button {
		margin-top: 36px;
	}
	.profile-config {
		margin-right: 40px;
	}
	.margin {
		margin-top: 20px;
	}
	.menu-profile {
		text-align: unset;
	}
	.user-info {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
	}
	.user-info-config {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
	}
	.user-menu {
		padding: 1%;
		background-color: #e5e2e2;
		margin-bottom: 1px;
		width: 40%;
		margin-bottom: 28px;
		margin-top: 5px;
		border-radius: 4px;
	}
	.user-div {
		display: flex;
	}

	.marginpf {
		margin-top: 40px;
		margin-left: 20px;
	}

	.marginpf1 {
		margin-left: 20px;
	}
}
