*{
  box-sizing: border-box;
}

ul,ol{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  font-family : Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
  color: #4e4e4e;
}


/* Página inicio */

.uk-panel{
  text-align: center;
  font-size: 18px;
}

/* .author-container{
  height: 900px;
  margin: 30px 0px;

} */


.slide-img{
  max-height: 320px;
}



/* PÁGINAS CATEGORÍAS */

.containerDelBody{
 
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 30px;

}

.clase-subtitulo{
  color: black;
}

img{
  width: 100%
}

figure {
  margin: 0;
  padding: 0;
}

li a,
h3 a{
  display: inline-block;
  color: inherit;
  list-style: none;
  text-decoration: none;
}

h3 a:hover,
li a:hover{
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

p:hover{
  cursor: default;
}


.book-container h3{
  font-weight: 500;
  color:#3a3a3a;
  margin-top: 15px;
  margin-bottom: 13px;
}

#scrollButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 60px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(60, 178, 214); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 16px; /* Some padding */
    border-radius: 70px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
  }

  
  #scrollButton:hover {
    background-color: rgb(52, 150, 180); /* Add a dark-grey background on hover */
  }


 /* productos  */
.route,
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.route{
  margin: 15px 0px;
}

.route li{
  padding: 0 8px 0 8px;
  text-transform: capitalize;
  font-size: 10px;
  border-right: 1px solid black;
  font-size: 12px;

}

.route li:first-child{
  padding-left: 0
}


.route li:last-child{
  border-right: 0px;
  
}

.route li,
.categories li{
  margin-bottom: 13px;
  padding-right: 10px;
} 


.categories{
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 15px;
}

.book-container{
  text-align: center;
  margin: 20px 0px;
}

.book-container p{
  /* color: #c9985f; */
  color:#fcb03d;
  font-size: 18px;
  margin-top:0px
}


.image-container img:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


/* [class*=uk-width] {
  height: 30vh;
  margin-top: 20px;
} */


.categories-book-title{
  font-size: 18px;
  margin-top: 18px;
}


/* categorías recomendadas */

.categories-a:hover{
  text-decoration: none;
}

.uk-categories-title{
  text-transform: capitalize;
}


@media(min-width:768px){


  /* categoría */
  .route li {
    font-size: 12px;
  }
  .categories li{
    font-size: 13px;
  }
}


@media(min-width: 992px){

  .book-container{
    margin: 30px 0px
  }

  .categories-book-title{
    font-size: 22px;
    margin-top: 20px;
  }

  .book-container p{
    font-size: 20px;
    margin-top: 10px
  }

  .route li {
    font-size: 14px;
  }
  .categories li{
    font-size: 13px;
    margin: 10px 13px 20px 0;
  }
  
}

