*{
  box-sizing: border-box;
}
.containerDelBody{
 
  padding-left: 10%;
  padding-right: 10%;
}

body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
 /* font-family: 'Roboto', sans-serif; */
 font-family : Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
}
.clase-subtitulo{
  color: black;
}
img{
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  list-style: none;
  text-decoration: none;
}

a:hover{
  color: rgba(0, 0, 0, 0.5);
}

p:hover{
  cursor: default;
}

ul,ol{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

h3{
  font-weight: 500;
  /* color: #38363b; */ 
  /* color: #666666; */
  color: #362c36;
}


 /* productos  */
.route,
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.route{
  margin-top: 15px;
}

.route li{
  padding: 0 8px 0 8px;
  text-transform: capitalize;
  font-size: 10px;
  border-right: 1px solid black

}

.route li:first-child{
  padding-left: 0
}


.route li:last-child{
  border-right: 0px;
  
}

.route li,
.categories li{
  margin-bottom: 13px;
  padding-right: 10px;
} 


.categories{
  text-transform: uppercase;
  font-size: 10px;
}

.book-container{
  text-align: center;
  margin: 15px 0px 15px 0px;
}

.book-container p{
  /* color: #FCA92C; */
  color: #c9985f;
}


.image-container img:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



@media(min-width:768px){
  .route li {
    font-size: 12px;
  }
  .categories li{
    font-size: 13px;
  }

}


@media(min-width: 992px){
  .route li {
    font-size: 14px;
  }
  .categories li{
    font-size: 13px;
    margin: 10px 13px 20px 0;
  }
  
}

