/* Profile styling */



.imgg {
	border-radius: 200px;
	width: 230px;
}

.a-profile {
	color: #7d8180;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 535;
}

.a-profile:hover {
	color: #4fa7e2;
	text-decoration: underline;
}

.p-profile {
	color: #7d8180;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 535;
}


.menu-profile {
	padding: 13%;
	background-color: rgb(238, 238, 238);
	margin-bottom: 1px;
	text-align: center;
}

/* .margin {
	margin-top: 60px;
} */

.menu-profile:hover {
	background-color: inherit;
}

.menu-profile a:hover {
	background-color: inherit;
	text-decoration: none;
}

.profile-confg {
	padding-bottom: 100px;
}

.profilediv {
	display: flex;
	justify-content: center;
}

.buttcf {
	display: flex;
	background-color: #e3e6e6;
	z-index: 1;
}

.user-info {
	background-color: rgb(238, 238, 238);
	/* padding:30px; */
	border: 1px solid #b9b9b9;
	border-radius: 10px;
}
.user-info {
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: 1px solid #cccbcb;
	border-radius: 7px;
	margin-bottom: 100px;
}
.user-info-config {
	background-color: rgb(238, 238, 238);
	
	border: 1px solid #b9b9b9;
	border-radius: 10px;
}
.user-info-config {
	background-color: rgb(238, 238, 238);
	
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: 1px solid #cccbcb;
	border-radius: 7px;
	margin-bottom: 100px;
}
.user-password-config {
	background-color: rgb(238, 238, 238);
	
	border: 1px solid #b9b9b9;
	border-radius: 10px;
}
.user-password-config {
	background-color: rgb(238, 238, 238);
	
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: 1px solid #cccbcb;
	border-radius: 7px;
	margin-bottom: 100px;
}

.monthy-author-div {
	background-color: rgb(238, 238, 238);
	
	border: 1px solid #b9b9b9;
	border-radius: 10px;
}
.monthy-author-div {
	background-color: rgb(238, 238, 238);
	
	border: 1px solid #b9b9b9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border: 1px solid #cccbcb;
	border-radius: 7px;
	margin-bottom: 100px;
}
input.margin-img{
    margin-left: 20px;
    margin-top: 20px;
}
.user-menu {
    padding: 2%;
    background-color: #e5e2e2;
    width: 80%;
    margin-bottom: 28px;
    margin-top: 5px;
    border-radius: 4px;
    text-indent: 5px;
    height: 31px;
}


.user-div {
	display: flex;
}


.marginpf {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 1px;
	text-transform: capitalize;
}

.marginpf1 {
	margin-top:1px;
	margin-left: 20px;
	margin-bottom: 1px;
}

#cargar-producto, #config{
	margin-left: 0px;
}


.profile-confg{
	text-align: center;
	margin-top:30px;
}


.user-img {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	background-color: #cfcdcd;
	width: 9%;
	margin-bottom: 28px;
	margin-top: 4px;
	margin-left: 20px;
	border-radius: 4px;
	height: 32px;
}

/* .margin{
	margin-top: 45px;
} */

/* styling de CONFIG FORM */

.form-C {
  
    position: relative;
}

.form-C label {
	display: inline-block;
}

.form-C input {
	display: block;
}

.form-C input:focus {
	outline: 0;
	border-color: #777;
}

.user-div.form-C.success input {
    border-color: #2bbe68;
    border-width: 2px;
}

.user-div.form-C.error input {
    border-color: #e74c3c;
    border-width: 2px;
}

.form-C i.config {
    font-size:15px;
	visibility: hidden;
	position: absolute;
	top: 14px;
	right: 47px;
}

.form-C.success i.fa-check-circle {
	color: #2bbe68;
	visibility: visible;
}

.form-C.error i.fa-exclamation-circle {
	color: #e74c3c;
    visibility: visible;  
}

small{
    font-size: 14px;
}

.form-C small {
	color: #e74c3c;
	position: absolute;
	bottom: 0px;
	left: 23px;
	visibility: hidden;
}


.form-C.error small {
	visibility: visible;
}

/* styling de CONFIG FORM */


.profile-div{
	display: inline-block;
	position: relative;
	width: 140px;
	height: 140px;
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 55px;
}

.profile-img{
	width: 100%;
	height: 100%;
}

.user-div {
	display: flex;
}

#user-C, #email-C, #password-C{
	border: none;
	height: 32px;
	padding: 1%;
    width: 80%;
    margin-bottom: 28px;
    margin-top: 5px;
    border-radius: 4px;
    text-indent: 5px;
}

#password-P, #newPassword-P, #newPassword2-P{
    border: none;
	height: 32px;
	padding: 1%;
    width: 80%;
    margin-bottom: 28px;
    margin-top: 5px;
    border-radius: 4px;
    text-indent: 5px;
}

#authorName{
    border: none;
	height: 32px;
	padding: 1%;
    width: 80%;
    margin-bottom: 28px;
    margin-top: 5px;
    border-radius: 4px;
    text-indent: 5px;
}


.edit-pf-form{
	padding: 20px 0px;
}

#avatar-input-edit{
	width: 80%;
    margin-left: 20px;
	margin-top:20px
}

#button-user-form{
	margin-bottom:10px
}

.error-back{
	margin:0px;
	margin-left:21px
}
.marginR{
    margin-bottom: 25px;
}
.checkboxdiv{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 212, 212);
    height: 70px;
    margin-bottom: 10px;
}
.style-label{
    margin-top:20px;
    margin-left: 55px;

 }


.checkboxdiv input[type=checkbox] {
    width: 3%;
    margin-right: 100px;
	
	
}

.category-checkbox-label{
	text-transform: capitalize;
}

.form1 small{
    font-size:17px;
    color: #ee331e;
    margin-left: 53px;
    display: none;

}

@media(min-width:768px){
	.profile-config {
		margin-right: 40px;
	}
	/* .margin {
		margin-top: 20px;
	} */
	.menu-profile {
		text-align: unset;
	}
	
	.user-info {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
	}

	.user-info-config {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
		/* padding: 25px 10px; */
    }
    .user-password-config {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
		/* padding: 25px 10px; */
    }
    .monthy-author-div {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
		/* padding: 25px 10px; */
	}
	.user-menu {
		padding: 1%;
		background-color: #e5e2e2;
		margin-bottom: 1px;
		width: 80%;
		margin-bottom: 28px;
		margin-top: 5px;
		border-radius: 4px;
	}
	.user-div {
		display: flex;
	}
	.marginpf {
		margin-top: 40px;
		margin-left: 10px;
	}
	
	.marginpf1 {
		margin-top:1px;
		margin-left: 10px;
	}

	.edit-form-p{
		margin-top: 10px;
	}

	.profile-div{
		margin-bottom: 45px
	}
}



@media(min-width:992px){
	.user-img {
		width: 5%; 
		height: auto;
	}
	
	/* .profile-div{
		margin-bottom:20px
	} */
/* 	
	.margin{
		margin-top:30px;
	} */
	
	.user-info {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
	}
	.user-info-config {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
    }
    .user-password-config {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
    }
    .monthy-author-div {
		display: flex;
		flex-direction: column;
		justify-content: start;
		border: 1px solid #cccbcb;
		border-radius: 7px;
		margin-bottom: 100px;
    }
    
	.user-menu {
		padding: 1%;
		background-color: #e5e2e2;
		margin-bottom: 1px;
		width: 40%;
		margin-bottom: 28px;
		margin-top: 5px;
		border-radius: 4px;
	}
	.user-div {
		display: flex;
	}
	
	.marginpf {
		margin-top: 40px;
		margin-left: 20px;
	}
	
	.marginpf1 {
		margin-top:1px;
		margin-left: 20px;
	}

	.edit-form-p{
		margin-top: 10px;
	}
}

