<footer>
  <!-- Footer main -->
  <section class="ft-main">

    <div class="ft-main-item">
      <h2 class="ft-title">Atencion al cliente</h2>
      <ul>
        <li><a href="#">Contactenos</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Informacion de envios</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Tu libreria</h2>
      <ul>
        <li><a href="#">Terminos y condiciones</a></li>
        <li><a href="#">La empresa</a></li>
        <li><a href="#">Politicas y privacidad</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Seguinos!</h2>

      <ul class="icons">
        <li><a href="https://www.facebook.com"><img class="iconsft"
              src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-02-512.png"></i></a></li>
        <li><a href="https://www.instagram.com"><img class="iconsft"
              src="https://image.flaticon.com/icons/png/512/87/87390.png"></i></a></li>
      </ul>

    </div>

    <div class="ft-main-item2">
      <div class="newsletter-back">
        <h2 class="ft-title2">Newsletter</h2>
        <p>informate sobre las ultimas promociones y novedades!</p>
        <form class="js-event"id="formfooter">
          <input type="email" name="email" placeholder="Ingresa tu Email">
          <input class="js-alert" type="submit" value="Enviar">
        </form>
      </div>
    </div>
  </section>



</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/3ed102e393.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<script src="/js/sweetAlerts.js"></script>
