<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


      <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>

        <link rel="shortcut icon" href="/images/iconn.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="/stylesheets/hfstyles.css.css">
        <link rel="stylesheet" href="/stylesheets/cartStyles.css">
        <link rel="stylesheet" href="/stylesheets/login-register.css">
        <link rel='stylesheet' href='/stylesheets/style.css'>
        <link rel="stylesheet" href="/stylesheets/detail.css">
        <link rel="stylesheet" href="/stylesheets/userProfile.css">
      
        
        
    </head>


  

