<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/hfstyles.css.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <title>Document</title>
</head>
<body>

  <header class="main-header">
		
			<div class="header-container">
				
			   	<div class="logoheader">
			 	   	<a href="/" id="logoh">
					   	<img src="/stylesheets/The_Book_Depository.svg.svg">
				   	</a>
           </div>
           

           <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header text-center">
                 <h4 class="modal-title w-100 font-weight-bold">Login</h4>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body mx-3">
                 <div class="md-form mb-5">
                   <i class="fas fa-envelope prefix grey-text"></i>
                   <input type="email" id="defaultForm-email" class="form-control validate">
                   <label data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
                 </div>
         
                 <div class="md-form mb-4">
                   <i class="fas fa-lock prefix grey-text"></i>
                   <input type="password" id="defaultForm-pass" class="form-control validate">
                   <label data-error="wrong" data-success="right" for="defaultForm-pass">Contraseña</label>
                 </div>
         
               </div>
               <div class="modal-footer d-flex justify-content-center">
                 <button class="btn btn-default btn-rounded">Ingresar</button>
                 <a class="forgot" href="/">Olvidaste tu contraseña?</a>
               </div>
               <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modalLoginForm">Registrarse</button>
                   
              </div>
             </div>
           </div>
         </div>



			  	<div class="shop-menu">
            <a type="submit" class="search-form_button mobile-icon"><i class="fa fa-search"></i></a>
            <a href="/logreg" class="search-form_button mobile-icon mobile-hide" data-toggle="modal" data-target="#modalLoginForm">Mi cuenta</a>
						<a href= "/cart" type="submit" class="shop-form_button"><i class="fa fa-shopping-cart"></i></a>
                        <a href="/cart" class="mobile-hide">Mi compra</a>
                        <div class="hav">
                          <label for="toggle" id="togglex">&#9776;</label>
                          <input type="checkbox" id="toggle"/>
                           <div class="menu">
                              <a href="/category">Categorías</a>
                              <a href="/">Novedades</a>
                              <a href="/">Mas vendidos</a>
                              <a href="/"><span>En oferta</span></a>
                           </div>
                      
                         </div>
           </div>
                        
    	</div>
    
            </div>

            <nav class="navvbar">
                <ul class="nav navbar-nav">
                  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/category">Categorías<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/category/arte">Arte</a></li>
                      <li><a href="/category/poesía">Poesia</a></li>
                      <li><a href="/category/narrativa">Narrativa</a></li>
                      <li><a href="/category/crónica">Crónica</a></li>
                      <li><a href="/category/infantil%20y%20juvenil">Infantil Y Juvenil</a></li>
                      <li><a href="/category/novelas%20gráficas%20y%20cómics">Novelas Graficas y Comics</a></li>
                    </ul>
                  </li>
                  <li><a href="/">Novedades</a></li>
                  <li><a href="/">Mas vendidos</a></li>
                  <li><a href="/">En oferta</a></li>
                </ul>
              </div>
            </nav>
              
  </header>
  
</body>