<header class="main-header">

  <div class="header-container">

    <div class="logoheader">
      <a class="a-header" href="/" id="logoh">
        <img src="/stylesheets/The_Book_Depository.svg.svg">
      </a>
    </div>

    <div class="shop-menu">

    
        <input type="text" id="search">       
       <i id="searchIcon" class="fa fa-search"></i>
      <% if (locals.user) { %>
      <a href="/users/user" class="search-form_button mobile-icon mobile-hide a-header"><%= locals.user.userName %> </a>
      <form class="clear-storage" action="/users/logout" method="POST">
        <button class="logout mobile-hide" type="submit"><i class="fas fa-sign-out-alt logout-btn"></i>Cerrar
          sesión</button>
      </form>
      <% } else { %>
      <a href="/users/login-register" type="submit"
        class="search-form_button mobile-icon mobile-hide a-header">Ingresar</a>
      <% } %>
      <a href="/users/cart" type="submit" class="shop-form_button a-header"><i id="shopping-cart"
          class="fa fa-shopping-cart"></i></a>
      <a href="/users/cart" class="mobile-hide a-header">Mi compra</a>
      <div class="hav">
        <label for="toggle" id="togglex">&#9776;</label>
        <input type="checkbox" id="toggle" />
        <div class="menu">
          <a class="a-header" href="/category">Categorías</a>
          <a class="a-header" href="/#NOV">Novedades</a>
          <a class="a-header" href="/#MAS">Mas vendidos</a>
          <a class="a-header" href="/"><span>En oferta</span></a>
          <% if (locals.user) { %>
          <form  class="clear-storage" action="/users/logout" method="POST">
            <button class="logout-mobile" type="submit">Cerrar sesión</button>
          </form>
          <% }else {%>
            <a class="a-header" href="/users/login-register">Ingresar</a> 
            <% } %>
        </div>

      </div>
    </div>

  </div>



  <nav class="navvbar ">
    <ul class="nav navbar-nav ">
      <li class="dropdown"><a class="dropdown-toggle a-header" data-toggle="dropdown" href="/category">Categorías<span
            class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="a-header" href="/category">Todas las categorías</a></li>
          <li><a class="a-header" href="/category/arte">Arte</a></li>
          <li><a class="a-header" href="/category/poesía">Poesia</a></li>
          <li><a class="a-header" href="/category/narrativa">Narrativa</a></li>
          <li><a class="a-header" href="/category/crónica">Crónica</a></li>
          <li><a class="a-header" href="/category/infantil%20y%20juvenil">Infantil Y Juvenil</a></li>
          <li><a class="a-header" href="/category/novelas%20gráficas%20y%20cómics">Novelas Graficas y Comics</a></li>
        </ul>
      </li>
      <li><a class="a-header" href="/#NOV">Novedades</a></li>
      <li><a class="a-header" href="/#MAS">Mas vendidos</a></li>
      <li><a class="a-header" href="/">En oferta</a></li>
    </ul>
    </div>
  </nav>

  <script src="/js/searchIcon.js"></script>

</header>